* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);

}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div {
    display: block;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: #081826;
    width: 100%;
}
.nav-list {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2.rem;
    padding: 2rem;
    text-decoration: none;
    color: antiquewhite;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #355B8C;
    background-image: url("/images/desert-1654439.jpg");
    background-size: 90rem;    
    background-repeat: no-repeat;
}

#project-list {
    display: flex;
    justify-content: space-around;
    width: 1000px;
     

}

#project-tile {
    
}

.projects-section-header {
    display: flex;
    justify-content: inherit;
    max-width: 1200px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

.projects-section {
    text-align: center;
    padding: 5rem 2rem;
    background: #131A40;

}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
}


a {
    text-decoration: none;
    text-decoration-color: none;
    outline: none;
}




figcaption {
    text-align: center;
    color: white
    
}

#contact { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var rgb(167, 73, 73);
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #17AEBF;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    color: unset;
}
 

h1 {
    color: fff;
}

#contact-caption {
    color: #081826;
}

#paragraph-cap {
    color: #081826;
}
p {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color:  #081826;

}

@media screen, print {
    /* Styles for screen and print devices */
  }

  @media screen and
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
    /* ... */
}

*, *::before, *::after {
    box-sizing: inherit;
}

#java {
    color: white;
}

#footer-size {
    font-size: .75rem;
}