head {
    margin: unset;
}

header {
    background-color: rgb(36, 35, 35);
    margin: unset;
    display: flex;
    justify-content: center;
    height: 6rem;
    padding-bottom: 1rem;
}
h1 {
    font-size: 4rem;
    justify-content: center;
    display: flex;
    margin: 1rem;
    color: rgb(254, 230, 36);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body {
    background-color: #510e7e;
    margin: unset;
    background-image: url(/images/sky-space-milky-way-stars-110854.jpg), url(/images/planet-1702788_1920.jpg), url(/images/tunnel-3233082_1280.jpg);
    background-position:center top, right top, center bottom;
	background-repeat:no-repeat, repeat-x, repeat-y;

}

a > img {
    height: 16rem;
    margin: 8px;
    border-radius: 8px;
}


