:root {
    box-sizing: border-box;
}

h1 {
    color: rgb(254, 230, 36);
    font-family: 'Star Jedi', arial;
    font-size: 48px;
}

header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem;
    background-color: rgb(80, 82, 83)
   
}

body {
    background-color: lightgray;
    background-size: 200rem;
}


.box {
    display: flex;
    justify-content: center;
}
li {
    line-height: 2.0rem;xzc
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between
   
}

a {
    color: rgb(39, 43, 46);
    text-decoration: none;
}

a:hover {
    color: #66D96E;
    
  }

  a:focus {
      color: none;
      font-size: 125%;
      font-weight: bold;
  }

  .container {
      margin: 3rem;
      
  }
  
.nav {
    border: .75rem outset #154030;
    outline: 0.5rem solid #66D96E;
    box-shadow: 0 0 0 2rem rgb(91, 94, 95);
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 0rem;
    padding: 1rem;
    outline-offset: .5rem;
    
   
}

.main {
   margin-top: 2rem;
}

.navList {

}
footer {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}